.button:link, .button:visited {
  background-color: var(--bg-highlight);
  color: inherit;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  cursor:pointer
}

.button:hover, .button:active {
  filter: brightness(0.9);
  color:inherit;
}




