nav {
  padding: 0;
  padding-bottom: 10px;
}

.nav-item {
  margin-left: 10px;
}

a.nav-item{
  color: rgb(172, 172, 172);
  text-decoration: none;
}

a.active {
  color: white;
  border-bottom: 2px  rgb(172, 172, 172) solid;
}
